.fixed {
  position: fixed;
  z-index: 98498498498;
  top: 43%;
  right: -134px;
  transform: translate(0, -50%) rotate(-90deg);
  display: flex;

  & button {
    background: gray;
  }
  a:first-child button {
    border-right: 2px solid;
    border-radius: 30px 0 0 30px;
  }
}

.active button {
  background-color: var(--black-lighter);
  text-shadow: 2px 3px 6px rgba(128, 128, 128, 1);
}
