.spinnerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 99999999999999999999999999999;
}

.spinner {
  animation: spin 1s linear infinite;
}

.logo {
  width: 150px;
  height: 150px;
}
.title {
  text-align: center;
  font-size: 24px;
}
@keyframes spin {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
