@import "../../../mixins.scss";

.carouselSection {
  position: relative;
  margin-bottom: 40px;
  padding: 10px 0;

  .carouselTitle {
    font-size: 24px;
    color: white;
    font-weight: normal;
  }
}

.layout {
  @include layout();
  @include flexBetween();
  @include sm {
    flex-direction: column;
    gap: 15px;
  }
  margin-bottom: 20px;
}
