@import "../../mixins.scss";

header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999999999999;
  &.scrolled {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    animation: scroll-anim 0.5s ease-in-out;
    & img {
      width: 150px;
    }
    @include sm {
      display: none;
    }
  }
}

.header__Container {
  @include flexBetween(5px);
  @include layout;
  @include sm {
    flex-wrap: wrap;
    a {
      margin: auto;
      img {
        height: 100px;
      }
    }
  }
}

.scroll {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes scroll-anim {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.upIcon {
  position: fixed;
  z-index: 898949464646546546546;
  right: 28px;
  height: 30px;
  width: 30px;
  top: -542px;
  bottom: 0;
  svg {
    color: black;
  }
}

.active {
  top: 542px;
}
