@import "../../mixins.scss";
.footer {
  padding: 20px 0;
  background-color: var(--black3);
}
.layout {
  @include layout;
}

.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  @include sm {
    font-size: 18px;
  }
}

.listIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.icon {
  cursor: pointer;
}
