@import "./mixins.scss";
:root {
  line-height: 1;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #021a4a;
  --black2: #01153c;
  --black3: #030f26;
  --black-lighter: #1c4b91;
  --black-light: #173d77;
  --gradient: linear-gradient(98.37deg, #0e5e87 0.99%, #65c7dd 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 100%;
  outline: none;
  border: none;
}

body {
  background-color: var(--black);
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #0a2955;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#193763, 0) 0,
      rgba(#193763, 0.2) 20%,
      rgba(#193763, 0.5) 60%,
      rgba(#193763, 0)
    );
    animation: shimmer 1s linear infinite;
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
.layout {
  @include layout;
}

text {
  font-size: 20px;
  font-weight: bold;
  display: block;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: var(--black3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--black-light);
  border: 2px solid var(--gradient);
}
/* end scrollbar */
