// media
@mixin sm {
  @media only screen and (max-width: 640px) {
    @content;
  }
}

@mixin md {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin mdMin {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin lgMin {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

// end media
@mixin ellipsis($line: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin layout {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

@mixin flexBetween($gap: 0) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $gap;
}
@mixin center($gap: 0) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}
