@import "../../../mixins.scss";

.hero-banner {
  @include center();
  height: 100vh;
  width: 100%;
  background-color: var(--black);
  position: relative;
  &__backdrop-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    overflow: hidden;
  }

  &--opacity {
    width: 100%;
    height: 250px;
    background: linear-gradient(
      180deg,
      rgba(4, 21, 45, 0) 0%,
      var(--black3) 79.17%
    );
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.img-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 2 / 3;
  @media (max-width: 768px) {
    object-fit: fill;
  }
}
