@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background);
  animation: fadeIn 0.8s ease-in-out;
}

.image {
  max-width: 300px;
  width: 100%;
  margin-bottom: 2rem;
  animation: fadeIn 1s ease-in-out 0.2s;
  animation-fill-mode: both;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  animation: fadeIn 1s ease-in-out 0.4s;
  animation-fill-mode: both;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  animation: fadeIn 1s ease-in-out 0.6s;
  animation-fill-mode: both;
  text-align: center;
}
