@import "../../mixins.scss";
.btnContainer {
  @include center(10px);
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;

  &:is(:hover) {
    transform: scale(1.1);
  }
  .button {
    display: flex;
    justify-content: center;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: var(--gradient);
    box-shadow: rgba(193, 244, 246, 0.698) 0px 0px 0px 0px;
    animation: 1s 0s infinite running pulse;
    cursor: pointer;
    align-items: center;
  }
}

@keyframes pulse {
  100% {
    box-shadow: 0 0 0 45px rgba(193, 244, 246, 0);
  }
}
