@import "../../mixins.scss";
.btnContainer {
  @include center(10px);
  cursor: pointer;

  .button {
    display: flex;
    justify-content: center;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: var(--gradient);
    box-shadow: rgba(193, 244, 246, 0.698) 0px 0px 0px 0px;
    animation: 1s 0s infinite running pulse;
    cursor: pointer;
    align-items: center;
  }
}

@keyframes pulse {
  100% {
    box-shadow: 0 0 0 45px rgba(193, 244, 246, 0);
  }
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  & button {
    width: 40px !important;
    height: 40px !important;
  }
  & svg {
    width: 20px !important;
    height: 20px !important;
  }
}
